/*
* @Author: myxuan
* @Date:   2017-07-12 17:14:19
* @Last Modified by:   myxuan
* @Last Modified time: 2017-07-17 10:21:09
*/

accordion .btn {
    width: 100%;
    border-radius: 0;
}
accordion > ul {
    display: inline-block;
    width: 100%;
    height: 100vh;
    background-color: #5a8ebb;
    overflow: auto;
}
accordion li {
    position: relative;
}
.accordion-right-icon {
    float: right;
}
.accordion-left-icon {
    float: left;
}
.accordion-left-icon,
.accordion-right-icon {
    line-height: 1.42857143;
}
accordion .active{
    border-left: 4px solid #204d74;
}

